/*



    " Reimplement the wheel to either learn, or make it better. "

    http://www.hayder.design/
    https://www.youtube.com/watch?v=QOlTGA3RE8I
    
    Product Name: YouTubeTracker,
	Description: Tracking YouTube"s data.
	Beneficiary: COSMOS
	
	Copyright © 1992 - 2019 HAYDER, All Rights Reserved.
	
	
	
*/

/** Global settings **/

:root {
    
    /* colors */

    --reddish: #fd4444;
    --reddishLight: rgb(255, 113, 113);
    --reddishLight2: rgb(253, 68, 68, 0.4);
    --blackish: #242120;
    --blackish2: #2c2928;
    --shadow: rgb(0, 0, 0, 0.5);
    --blackishTransparent0: rgb(36, 33, 32, 0.9);
    --blackishTransparent1: rgb(36, 33, 32, 0.3);
    --blackishTransparent2: rgb(36, 33, 32, 0.2);
    --blackishTransparent3: rgb(36, 33, 32, 0);
    --blackishTransparent4: rgb(36, 33, 32, 0);
    --blackishTransparent5: rgba(36, 33, 32, 0.90);
    --blackishShadow: hsla(15, 6%, 13%, 0.3);
    --littleGrey: hsla(15, 6%, 20%, 0.9);
    --littleGrey2: hsla(15, 6%, 25%, 1);
    --greyishDark: hsla(15, 6%, 40%, 0.3);
    --greyish: hsla(15, 6%, 40%, 1);
    --lightGreyish: hsla(15, 6%, 60%, 1);
    --lighterGreyish: rgb(230, 230, 230);
    --whitish: hsla(15, 6%, 100%, 1);
    --whitishTransparent1: hsla(15, 6%, 100%, 0.9);
    --blueish: #2C8DFF;
    --lightBlueish: rgb(136, 191, 255);
    --lightBlueish1: rgb(75, 159, 255);

    /* fonts */

    --size12: 12px;
    --size14: 14px;
    --size16: 16px;
    --size18: 18px;
    --size22: 22px;
    --size28: 28px;
    --size30: 30px;
    --size34: 34px;
    --size38: 38px;
    --size48: 48px;
    --size58: 58px;

    /* radius */

    --radius5: 5px;
    --radius13: 13px;
    --radius15: 15px;
    --radius25: 25px;
    --radius1000: 1000px;

    /* images */

    --homeInterface: url(/static/youtube_tracker/images/home-interface.svg);
    
}

html {

    color: var(--whitish);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box; /* https://www.w3schools.com/css/css3_box-sizing.asp   https://www.youtube.com/watch?v=ADDvQlerEx4&list=PLu8EoSxDXHP5CIFvt9-ze3IngcdAc2xKG&index=2 */

}

body {

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "Header"
        "Search"
        "Options"
        "Content"
        "Footer";
    
	background-color:var(--blackish);
    margin: 0px;
    box-sizing: inherit;

}

body.noScroll {

    overflow: hidden;
    
}

a {

    text-decoration: none;
    color: inherit;

}

a:hover {

    color: inherit;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

* {

    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

/** Search **/

section#search {

    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    height: 120px;
    margin-top: 55px;
    width: 100%;
    text-align: center;
    background-color: var(--blackish);
    z-index: 10001;
    top: 0px;
    grid-area: Search;

}

section#search.scroll {

    /* https://stackoverflow.com/questions/17069435/center-fixed-div-with-dynamic-width-css */

    height: 60px;
    background-color: transparent;
    left: 0px;
    right: 0px;
    width: 50%;
    margin: 0px auto;

}

section#search div#wrapper {

    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    height: 100%;

}

section#search input#searchBox {

    display: flex;
    color: var(--whitish);
    border: 0px solid;
    border-radius: 0px;
    font-size: var(--size58);
    font-weight: 300;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: transparent;
    outline: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

section#search.scroll input#searchBox {

    font-size: var(--size34);
    font-weight: 300;

}

section#search input#searchBox::placeholder {

    color: var(--whitish);
    opacity: 1;

}

section#search input#searchBox:focus::placeholder {

    color: var(--greyish);

}

section#search div#searchIcon {

    display: none;
    width: 45px;
    height: 45px;
    background-image: var(--homeInterface);
    background-repeat: no-repeat;
    background-position: -11px -422px;
    margin-left: 20px;

}

section#search.scroll div#searchIcon {

    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-position: -83px -430px;

}

section#search div#searchIcon.displayed {

    display: flex;
    align-self: center;

}

section#search div#searchIcon.editing {

    background-position: -135px -424px;
    opacity: 1;
    cursor: hand;
    cursor: pointer;
    
}

section#search.scroll div#searchIcon.editing {

    background-position: -196px -430px;
    
}

section#search div#searchIcon.editing:hover {

    opacity: 0.5;

}

/** Separator **/

div#separator {

    position: fixed;
    width: 100%;
    height: 2px;
    background-color: var(--littleGrey);
    margin-top: 175px;
    z-index: 10006;

}

div#separator.scroll {

    margin-top: 60px;

}

/** Options **/

section#options {

    width: 100%;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--blackish);
    font-size: var(--size18);
    justify-content: center;
    margin-top: 165px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 200;
    grid-area: Options;

}

section#options.scroll {

    visibility: hidden;

}

section#options p#counters {

    position: absolute;
    left: 0px;
    line-height: 40px;
    margin-left: 20px;
    align-content: center;

}

section#options p#counters.hidden {

    display: none;

}

section#options ul#filters {

    position: absolute;
    left: 0px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;

}

section#options ul#filters.center {

    position: relative;

}

section#options ul#filters li.filter {

    display: inline-block;
    position: relative;
    margin-left: -2px;
    margin-right: -2px;

}

section#options ul#filters li.filter button.filter {

    border: 0px;
    outline: 0px;
    cursor: hand;
    cursor: pointer;
    background-color: transparent;
    color: var(--whitish);
    font-size: var(--size18);
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
    line-height: 40px;

}

section#options ul#filters li.filter button.filter.hidden {

    display: none;

}

section#options ul#filters li.filter button.filter.selected {

    opacity: 1;

}

section#options ul#filters li.filter button.filter:hover {

    opacity: 1;

}

section#options div#views {

    display: inline-flex;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    height: 40px;

}

section#options div#views p#label {

    display: inline-flex;
    align-self: center;

}

section#options button.viewButton {

    display: inline-flex;
    align-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.4;
    border: 0px;
    outline: 0px;
    cursor: hand;
    cursor: pointer;
    margin-left: 20px;

}

section#options button.viewButton:hover {

    opacity: 1;

}

section#options button.viewButton.selected {

    opacity: 1;

}

section#options button#gridView {

    width: 16px;
    height: 16px;
    background-image: var(--homeInterface);
    background-position: -11px -291px;

}

section#options button#listView {

    width: 23px;
    height: 16px;
    background-image: var(--homeInterface);
    background-position: -37px -291px;

}

/** Sidebar START **/

.sidebar {
    width: 10%;
    height: 100%;
    background: #FD4646;
    overflow: hidden;;
    transition: 0.8s all;
    position: fixed;
    right: -10%;
}

.sidebarVisible {
    right: 0px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    display: block;
    transition: 0.6s all;
}

.sidebar ul li a:hover {
    background: grey;
}

/** Sidebar END **/

/** Loading Icon START **/

div#loading {
    position: relative;
    background-image: var(--homeInterface);
    width: 22px;
    height: 25px;
    background-position-x: -11px;
    background-position-y: -11px;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 200px;
    transform: scale(2);
    animation: loadingAnimation 270ms infinite alternate linear;
}

@keyframes loadingAnimation {
  from {left: -20px;}
  to {left: 20px;}
}

/** Loading Icon END **/
