/*



    " Reimplement the wheel to either learn, or make it better. "

    http://www.hayder.io/
    https://www.youtube.com/watch?v=QOlTGA3RE8I
    
    Product Name: YouTubeTracker,
	Description: Tracking YouTube"s data.
	Beneficiary: COSMOS
	
	Copyright © 1992 - 2021 HAYDER, All Rights Reserved.
	
	
	
*/



@import "/static/youtube_tracker/css/templates/analytics-template.css";



/***** Posting Frequecy Diagram START *****/

main#content div#dashboard section#visualizations figure#clusterDistributionDiagram.figure {

    grid-template-rows: auto 90px;
    min-height: 500px;
    height: 500px;

}

main#content div#dashboard section#visualizations figure#clusterDistributionDiagram.figure ul#statisticsWrapper {
    
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
   

}

main#content div#dashboard section#visualizations figure#clusterDistributionDiagram.figure ul#statisticsWrapper li {

    border-radius: var(--radius15);
    padding: 20px 100px;
    

}

ul#statisticsWrapper li h3 {

    font-size: var(--size17);
    font-weight: 400;

}

ul#statisticsWrapper li p {

    font-size: var(--size28);
    font-weight: 600;
    
}

/***** Posting Frequecy Diagram END *****/



/*


    " Reimplement the wheel to either learn, or make it better. "

    http://www.hayder.io/
    https://www.youtube.com/watch?v=QOlTGA3RE8I
    
    Product Name: YouTubeTracker,
    Description: Tracking YouTube"s data.
    Beneficiary: COSMOS
    
    Copyright © 1992 - 2021 HAYDER, All Rights Reserved.
    
    
    
*/

@import "/static/youtube_tracker/css/templates/analytics-template.css";

/***** Dashboard's Diagram START *****/


/***** Higlighting Deeper Analaysis *****/

main#content div#dashboard section#visualizations figure.figure div#titleWrapper h3#diagramTitle span.deeperAnalysis a {

    font-weight: 400;
    opacity: 1;
    color: #4796E9

}

main#content div#dashboard section#visualizations figure.figure div#titleWrapper h3#diagramTitle span.deeperAnalysis a:hover {

    opacity: 0.5;

}

/***** statistics *****/

main#content div#dashboard section#statistics ul#statisticsWrapper {

    display: flex;
    margin-top: 20px;

}

main#content div#dashboard section#statistics ul#statisticsWrapper li {

    /* background-color: var(--greyishDark2); */
    border-radius: var(--radius15);
    padding: 15px 20px;
    padding-left: 0px;
    margin-right: 40px;

}

main#content div#dashboard section#statistics ul#statisticsWrapper li h3 {

    font-size: var(--size17);
    font-weight: 400;

}

main#content div#dashboard section#statistics ul#statisticsWrapper li p {

    font-size: var(--size30);
    font-weight: 600;

}

/***** statistics  end*****/


main#content div#dashboard section#visualizations {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 100px;

}

main#content div#dashboard section#visualizations figure.figure {

    position: relative;
    margin-bottom: 40px;
    border-radius: var(--radius15);
    width: 100%;

}

main#content div#dashboard section#visualizations figure.figure div#figureWrapper {

    margin-top: 2px;
    height: 400px;
    background-color: var(--greyishDark2);
    border-radius: var(--radius15);
    overflow: hidden;

}

main#content div#dashboard section#visualizations figure.figure img {

    width: 100%;
    filter: grayscale(100%);

}

main#content div#dashboard section#visualizations figure.figure.timeout img {

    filter: none;

}

/***** social Media Diagram Starts *****/

main#content div#dashboard section#visualizations figure#keywordCluster.figure {

    width: 48%;
    min-width: 45%;

}

main#content div#dashboard section#visualizations figure#keywordCluster.figure div#figureWrapper {

    padding: 20px;

}

main#content div#dashboard section#visualizations figure#keywordCluster.figure div#figureWrapper ul {

    height: 100%;
    overflow: hidden;

}

main#content div#dashboard section#visualizations figure#keywordCluster.figure div#figureWrapper ul li {

    padding: 13px;
    border-radius: var(--radius10);
    background-color: var(--greyishDark);
    margin-bottom: 2px;
    cursor: pointer;

}

main#content div#dashboard section#visualizations figure#keywordCluster.figure div#figureWrapper ul li:nth-child(even) {

    background-color: var(--greyishDark2);

}

main#content div#dashboard section#visualizations figure#keywordCluster.figure div#figureWrapper ul li:hover {

    background-color: var(--reddish);

}

/***** social Media Diagram End*****/

/***** Daily Video Diagram Starts *****/

main#content div#dashboard section#visualizations figure#dailyVideoViewsDiagram.figure {

    width: 48%;
    min-width: 45%;

}

/***** Daily Video Diagram End *****/

/***** Content Wrapper for Related Videos start *****/

/** Table **/

main#content div#dashboard section#visualizations figure.figure div#contentWrapper {

    margin-top: 2px;
    background-color: var(--greyishDark2);
    border-radius: var(--radius15);
    overflow : hidden;
    

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram {

    margin-top: 2px;
    width: 100%;
    text-align: left;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;

}

main#content div#dashboard section#visualizations figure#relatedVideosDiagram.figure table.tableDiagram col#imagesColumn {

    width: 10%;

}

main#content div#dashboard section#visualizations figure#relatedVideosDiagram.figure table.tableDiagram col#titlesColumn {

    width: 60%;

}

main#content div#dashboard section#visualizations figure#relatedVideosDiagram.figure table.tableDiagram col#relatedToColumn {

    width: 15%;

}

main#content div#dashboard section#visualizations figure#relatedVideosDiagram.figure table.tableDiagram col#tracksColumn {

    width: 15%;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram tbody tr {

    border-radius: var(--radius15);

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram tr:nth-child(odd){

    background-color: var(--greyishDark);

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram tr:hover {

    background-color: var(--whitishTransparent3);

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram tbody td {

    padding: 2px;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram thead th {

    background-color: #2b2827;
    padding: 13px;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram thead th button {

    transform: rotate(90deg) scale(1,1.7);
    margin-left: 5px;
    opacity: 0.2;
    transition: transform ease-in-out 0.15s;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram thead th button.active {

    opacity: 1;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram thead th button.reverse {

    transform: rotate(270deg) scale(1,1.7);

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram thead th button:hover {

    opacity: 1;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram thead:hover {

    background-color: var(--blackish);

}

main#content div#dashboard section#visualizations figure#relatedVideosDiagram.figure table.tableDiagram img {

    width: 100%;
    border-radius: var(--radius5);

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram button.trackButton {

    border-radius: var(--radius1000);
    border: 1px solid var(--whitish);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
    white-space: nowrap;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram button.trackButton.active {

    border-color: var(--reddish);
    background-color: var(--reddish);
    opacity: 1;

}

main#content div#dashboard section#visualizations figure.figure table.tableDiagram button.trackButton:hover,
main#content div#dashboard section#visualizations figure.figure table.tableDiagram button.trackButton.active:hover {

    border-color: var(--whitish);
    background-color: var(--whitish);
    color: var(--blackish);
    opacity: 1;

}

/***** Content Wrapper for Related Videos End*****/

main#content div#dashboard section#visualizations figure#locationDiagram  {
    filter: grayscale(1);
}
main#content div#dashboard section#visualizations figure#languageDiagram {
    filter: grayscale(1);
    height: auto;
}
main#content div#dashboard section#visualizations figure#sentimentDiagram.figure {

    width: 48%;
    min-width: 40%;
    filter: grayscale(1);

}
main#content div#dashboard section#visualizations figure#topicDistributionDiagram.figure {
    
     
        width: 48%;
        min-width: 40%;
        filter: grayscale(1);
}
main#content div#dashboard section#visualizations figure#videoDistributionDiagram.figure {

    width: 48%;
    min-width: 40%;
    filter: grayscale(1);

}
main#content div#dashboard section#visualizations figure#vloggerDistributionDiagram.figure {

    width: 48%;
    min-width: 40%;
    filter: grayscale(1);

}
main#content div#dashboard section#visualizations figure#clusterDiagram.figure {

    width: 48%;
    min-width: 40%;
    filter: grayscale(1);

}
main#content div#dashboard section#visualizations figure#narrativeDiagram.figure {

    width: 48%;
    min-width: 40%;
    filter: grayscale(1);

}
***** Video Description Language Diagram START *****/

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure {

    grid-template-columns: 400px auto;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#titleWrapper {

    grid-column: 1/3;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#commentsWrapper {

    grid-column: 2;
    padding: 20px;
}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#commentsWrapper ul#commentsList {

    margin-top: 10px;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#commentsWrapper ul#commentsList li {

    background-color: var(--greyishDark);
    border-radius: var(--radius10);
    padding: 20px;
    margin-bottom: 4px;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#commentsWrapper ul#commentsList li:hover {

    background-color: var(--whitishTransparent3);

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper {

    padding: 10px;
    grid-column: 1;
    grid-row: 2;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper input#searchVideos {

    width: 100%;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper table {

    table-layout: fixed;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper table tr {

    cursor: pointer;

}

 main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper table tr.active {

    background-color: var(--reddish);

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper table col.title {

    width: 60%;

}

main#content div#dashboard section#visualizations figure#videoDescriptionLanguageDiagram.figure div#videosWrapper table tbody td {

    overflow: hidden;
    white-space: nowrap;

} 

/***** Video Description Language Diagram END *****/
/***** Video Details Diagram START *****/

main#content div#dashboard section#visualizations figure#videoDetailsDiagram.figure div#videosWrapper {

    padding: 10px;
}


/***** Video Details Diagram END *****/
