{% extends "registration/base.html" %}
    {% block body %}
        <div id="grid-container">
            <!-- Login START -->
            <main id="login-content">
                <header>
                    <h1>Forgot your password?</h1>
                    <p>Enter your email below to receive a reset form.</p>
                </header>
                <form id="forgotForm" class="login-form" method="post" action="{% url 'forgot' %}">
                    {% csrf_token %}
                    <div class="group">
                        {{ form.email }}
                    </div>
                    <div class="group">
                        <!-- Error message(s) -->
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button class="submit-button" type="submit">
                        <span class="button-text">Reset my password</span>
                    </button>
                </form>
                <hr>
                <footer>
                    <p>Changed your mind?<a href="{% url 'login' %}"> Back to login</a></p>
                </footer>
            </main>
        </div>
    {% endblock %}
