{% extends "registration/base.html" %}
    {% block body %}
        <div id="grid-container">
            <main id="login-content">
                {% if validlink %}
                <header>
                    <h1>Change password</h1>
                </header>
                <div class="container-fluid">
                    <form class="login-form" method="post">
                        {% csrf_token %}
                        <div class="group">
                            {{ form.as_p }}
                        </div>
                        <button class="submit-button" type="submit">
                            <span class="button-text">Change password</span>
                        </button>
                    </form>
                </div>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
                <hr>
                <footer>
                    <p><a href="{% url 'login' %}">Back to login</a></p>
                </footer>
            </main>
        </div>
    {% endblock %}
